<!DOCTYPE html>
<html>

<head>
    <title>Sistema Médico - Sesión Iniciada</title>
</head>

<body>
    <header>
      <h1 style="text-align: center;">INTRAMEDIC</h1>
        <h2 >Bienvenido {{paciente.name}} {{paciente.lastName}} </h2>
        <hr>
        <div class="btn-group d-flex justify-content-between btn-group-space" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-custom" (click)="Citas()">Citas</button>
          <button type="button" class="btn btn-custom" (click)="Laboratorio()">Laboratorio</button>
          <button type="button" class="btn btn-custom" (click)="Quejas()">Quejas</button>
          <button type="button" class="btn btn-custom" (click)="Pago()">Pagos</button>
          <button type="button" class="btn btn-custom" routerLink="">Cerrar Sesion</button>
        </div>
    </header>

    <main>
      <section>
        <app-paciente-citas *ngIf="citasVisibility"></app-paciente-citas>
      </section>
      <section>
        <app-resultados-paciente *ngIf="LaboratorioVisibility"></app-resultados-paciente>
      </section>
      <section>
        <app-quejas-gral *ngIf="QuejasVisibility"></app-quejas-gral>
      </section>
      <section>
        <app-pago-cliente *ngIf="PagoVisibility"></app-pago-cliente>
      </section>


    </main>

    <footer>
        <p>Sistema Médico - Todos los derechos reservados</p>
    </footer>

    <router-outlet></router-outlet>
</body>
</html>
