<!DOCTYPE html>
<html>

<head>
    <title>Sistema Médico - Sesión Iniciada</title>
</head>

<body>
    <header>
      <h1 style="text-align: center;">INTRAMEDIC</h1>
        <h2 >Bienvenido {{Medico.name}} {{Medico.lastName}} </h2>
        <hr>
        <div class="btn-group d-flex justify-content-between btn-group-space" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-custom" (click)="Laboratorio()">Añadir Resultados de laboratorio</button>
          <button type="button" class="btn btn-custom" (click)="Expediente()">Generar Expediente Medico</button>
          <button type="button" class="btn btn-custom" (click)="Receta()">Generar Receta Medica</button>
          <button type="button" class="btn btn-custom" (click)="Urgencia()">Registrar Urgencia</button>
          <button type="button" class="btn btn-custom" (click)="Cita()">Crear Cita</button>
          <button type="button" class="btn btn-custom" routerLink="">Cerrar Sesion</button>
        </div>
    </header>

    <main>
      <section>

      </section>
      <section>
        <app-medico-citas *ngIf="citasVisibility"></app-medico-citas>
      </section>


    </main>

    <footer>
        <p>Sistema Médico - Todos los derechos reservados</p>
    </footer>

    <router-outlet></router-outlet>
</body>
</html>

